# Ignore class files
*.class

# Ignore package files
*.jar
*.war

# Ignore log files
*.log

# Ignore directories
/target/
/bin/
/out/

# Ignore IDE specific files
.idea/
*.iml
.vscode/

#ignore .gitignore
.gitignore